<div class="content clearfix">
  <% @game.players.sort.each do |player| %>
  <div class = "super_wrapper clearfix" >
    <div class='player_status_container'>
      <div class='player_name'>
        <%= player.name %>
      </div>
      <div class='ninja picture'>
        <% if player.alive? %>
          <div class = 'ninja'>
            <%= image_tag "alive.png" %>
          </div>
        <% else %>
        <div class = 'ninja'>
          <%= image_tag "dead.png" %>
        </div>
        <% end %>
      </div>
      <div class="status_bar clearfix">
        <div class ='player_status'>
          <%= player.alive? ? "ALIVE" : "DEAD" %>
        </div>
        <div class ='player_kills'>
          <%= player.kills %> KILLS
        </div>
      </div>
    </div>
    <% if player.alive? %>
      <form action="/players/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="player[id]" value="<%= player.id %>">
        <input type="hidden" name="game[id]" value="<%= @game.id %>">
        <input class ='kill_button' type="submit" value="KILL ME">
      </form>
    <% else %>
    <div class ='kill_button_dead'>
      I'M ALREADY DEAD
    </div>
    <% end %>
  </div>
  <% end %>
</div>
